.list {
  font-family: verdana, arial, helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  display: block;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline；
}
